# Dependencies
/vendor/
/node_modules/
composer.lock

# Environment
.env
.env.backup

# Testing
/.phpunit.cache/
/coverage/
.phpunit.result.cache

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
*.cache
npm-debug.log
yarn-error.log

# Laravel
Homestead.json
Homestead.yaml
